

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

p {
	font-size: 14px;
}
   
body {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: white;
	background: black url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Prevent dropdown menu from display shadows*/
.dropdown-menu {
	text-shadow: none;
}

.loginContainer {
	width: 380px;
	margin: 0 auto; 
}

.container {
	text-shadow: #002550 0.0em 0.0em 0.3em;
}

.container h1 {
	text-shadow: #002550 0.0em 0.0em 0.2em;
}

.container .hero-unit {
	text-shadow: none;
}

.span6Right {
	text-align:right;
	width: 460px;
}

.span3Right {
	text-align:right;
	width: 220px;
}


/*Black, transparent, rounded boxes that hold content*/
.hero-unit {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 14px;
	font-weight: 200;
	line-height: 30px;
	color: white;
	background-color:rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
			border-radius: 10px;
}

h4 {
	font-size: 18px;
}

/*For button font*/
input, button, select, textarea {
  font-family: "Open Sans", sans-serif;
}

/*For colored buttons*/
.btn {
	font-size: 12px;
}

/*For colored buttons*/
.btn-group > .btn {
	font-size: 12px;
}

/*Fixed button width for the course buttons*/
.btn-course {
    width: 120px !important;
}

.btn-course-dropdown-left {
    width: 93px !important;
}

.btn-course-dropdown-right {
    width: 27px !important;
}

.modal {
	color: #333333;
}

/*Custom Color Buttons*/
.btn-facebook {
  background-color: hsl(222, 55%, 32%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4169c7", endColorstr="#243f7e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#4169c7), to(#243f7e));
  background-image: -moz-linear-gradient(top, #4169c7, #243f7e);
  background-image: -ms-linear-gradient(top, #4169c7, #243f7e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4169c7), color-stop(100%, #243f7e));
  background-image: -webkit-linear-gradient(top, #4169c7, #243f7e);
  background-image: -o-linear-gradient(top, #4169c7, #243f7e);
  background-image: linear-gradient(#4169c7, #243f7e);
  border-color: #243f7e #243f7e hsl(222, 55%, 27%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
