

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

p {
	font-size: 14px;
}
   
body {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: white;
	background: black url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Prevent dropdown menu from display shadows*/
.dropdown-menu {
	text-shadow: none;
}

.loginContainer {
	width: 380px;
	margin: 0 auto; 
}

.container {
	text-shadow: #002550 0.0em 0.0em 0.3em;
}

.container h1 {
	text-shadow: #002550 0.0em 0.0em 0.2em;
}

.container .hero-unit {
	text-shadow: none;
}

.span6Right {
	text-align:right;
	width: 460px;
}

/*Black, transparent, rounded boxes that hold content*/
.hero-unit {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 14px;
	font-weight: 200;
	line-height: 30px;
	color: white;
	background-color:rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
			border-radius: 10px;
}

h4 {
	font-size: 18px;
}

/*For button font*/
input, button, select, textarea {
  font-family: "Open Sans", sans-serif;
}

/*For colored buttons*/
.btn {
	font-size: 12px;
}

/*For colored buttons*/
.btn-group > .btn {
	font-size: 12px;
}

/*Fixed button width for the course buttons*/
.btn-course {
    width: 120px !important;
}

.btn-course-dropdown-left {
    width: 93px !important;
}

.btn-course-dropdown-right {
    width: 27px !important;
}





