{% extends "base.html" %}

{% block navAccountSelected %}
 class="active"
{% endblock %}

{% block content %}
<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="span6">
			<h1>My Account</h1>
			<p>Everything about you.</p>
		</div>
	</div>
	<div class="hero-unit">
		
			<h3>Here's what we scooped up about you.</h3>
			<p>First Name: {{ userAccount.firstName }}</p>
			<p>Last Name: {{ userAccount.lastName }}</p>
			<p>Username: {{ userAccount.username }}</p>
			<p>School: {{ userAccount.school }}</p>
		<div class="equal row-fluid">
			<div class="span6">
				<h3>Dropbox Status</h3>
				{% if not userAccount.dropboxLinked %}
					<p>You're not linked to Dropbox right now.</p>
					<a href="{% url 'toDropbox' username=userAccount.username %}"><button class="btn btn-large btn-primary" type="submit">Link to Dropbox</button></a>
				{% endif %}
				{% if userAccount.dropboxLinked %}
					<p>Huzzah! You're linked to Dropbox!</p>
				{% endif %}
			</div>
			<div class="span6">
				<h3>Facebook Status</h3>
				<p>By default, Iuvo requires users to log in with a Facebook account. You're linked and good to go!</p>
			</div>
		</div>
	</div>
{% endblock content %}
	