{% extends "base.html" %}

{% block navScheduleSelected %}
 class="active"
{% endblock %}

{% block content %}
<div class="container">
	
	<div class="row">
		<div class="span6">
			<h1>My Schedule</h1>
			<p>{{ degreePlan.name }}</p>
		</div>
		<div class="span6Right">
			<h3>{{ userAccount.firstName }} {{ userAccount.lastName }}</h3>
			<p>{{ userAccount.school }} </p>
		</div>
	</div>
	
	<div class="row">
		<div class="span3">
			<div class="hero-unit">
				<h4>Not Scheduled</h4>
				{% for cg in degreePlan.coursegroup_set.all %}
					{% for cs in cg.courseslot_set.all %}
						{% if not cs.isScheduled %}
							<a href="{% url 'editCourse' username=userAccount.username coursepk=cs.pk %}"><button class="btn btn-course {% if cs.isCompleted %}btn-success{% endif %}">{{ cs }}</button></a>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</div>
		
		<div class="span9">
			<div class="hero-unit">
				<h4>Scheduled</h4>
				{% for s in semesters %}
				<h3>{{ s.term }} {{ s.year }}</h3>
					{% for cs in s.courseslot_set.all %}
						<a href="{% url 'editCourse' username=userAccount.username coursepk=cs.pk %}"><button class="btn btn-course {% if cs.isCompleted %}btn-success{% endif %}">{{ cs }}</button></a>
					{% endfor %}
				{% endfor %}
				
				<h3><button class="btn btn-primary" type="submit">Add Semester</button></h3>
			</div>
		</div>
	</div>
</div>
	
{% endblock content %}