{% extends "base.html" %}

{% block navBarHome %}
<a class="brand" href="{% url 'index' %}">iuvo</a>
{% endblock navBarHome %}

{% block navBarButtons %}
{% endblock navBarButtons %}

{% block content %}
<div class="loginContainer">
	<div class="hero-unit">
		<form class="form-signin" action="" method="post">{% csrf_token %}
			<h2 align="center">Welcome.</h2>
			<div class="alert">
				{{ state }}
			</div>
			<input type="text" name="firstname" class="input-block-level" placeholder="First Name">
			<input type="text" name="lastname" class="input-block-level" placeholder="Last Name">
			<input type="text" name="email" class="input-block-level" placeholder="Email">
			<input type="text" name="username" class="input-block-level" placeholder="User Name">
			<input type="password" name="password" class="input-block-level" placeholder="Password">
			<input type="text" name="school" class="input-block-level" placeholder="School">
			<p align="center"><button class="btn btn-large" type="submit" value="login">Create Account</button></p>
		</form>
		<h2 align="center">-- OR --</h2>
		<p align="center">
			<a href="{% url 'facebook' %}"><button class="btn btn-facebook btn-large" type="submit" value="login">Sign Up Using Facebook</button>
			</a>
		</p>
	</div> <!-- /hero-unit -->
</div>
{% endblock content %}