{% extends "base.html" %}

{% block navExportSelected %}
 class="active"
{% endblock %}

{% block content %}
<div class="container">
	
	<div class="row">
		<div class="span6">
			<h1>Export</h1>
			<p>Your degree plan, to-go.</p>
		</div>
	</div>
	
	<div class="hero-unit">
		<h3>Export to Dropbox</h3>
		<p>This may be intesnse. Be sure to take a deep breath before continuing.</p>
		<button class="btn btn-large btn-primary" type="submit" href="{% url 'toDropbox' username=userAccount.username %}">Export to Dropbox</button>
		
		<h3>Backup your degree plan</h3>
		<p>This may be intesnse. Be sure to take a deep breath before continuing.</p>
		<a href="{% url 'exportFile' username=userAccount.username %}"><button class="btn btn-large btn-primary" type="submit" href="{% url 'toDropbox' username=userAccount.username %}">Export your Degree Plan</button></a>
	</div>	
{% endblock content %}