{% extends "base.html" %}

{% block navBarHome %}
<a class="brand" href="{% url 'index' %}">iuvo</a>
{% endblock navBarHome %}

{% block navBarButtons %}
<a class="navbar-text pull-right" href="{% url 'register' %}">New User?</a>
{% endblock navBarButtons %}

{% block content %}
<div class="loginContainer">
	<div class="hero-unit">
		<form class="form-signin" action="" method="post">{% csrf_token %}
			<h2 align="center">Welcome.</h2>
			<div class="alert">
				{{ state }}
			</div>
			<input type="text" name="username" class="input-block-level" placeholder="User Name">
			<input type="password" name="password" class="input-block-level" placeholder="Password">
			<p align="center"><button class="btn" type="submit" value="login">Sign in</button></p>
		</form>
	</div> <!-- /hero-unit -->
</div>
{% endblock content %}