{% extends "base.html" %}

{% block navBarHome %}
<a class="brand" href="{% url 'index' %}">iuvo</a>
{% endblock navBarHome %}

{% block navBarButtons %}

{% endblock navBarButtons %}

{% block content %}
<div class="container">
	<div class="hero-unit">
		<div class="row-fluid">
			<div class="span6">
				<h1>Take control.</h1>
				<p>Check out how easy it is to track your degree plan with Iuvo.</p>
				<a href="{% url 'facebook' %}"><button class="btn btn-facebook btn-large" type="submit" value="login">Log in using Facebook</button>
				</a>
			</div>
			<div class="span6">
				<img src="../static/img/front_splash.png">
			</div>
		</div>
	</div> <!-- /hero-unit -->
	
	 <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Organize</h2>
          <p>Not all degree tracks are the same. Use Iuvo to choose which optional classes you want to take. Just set and forget, it's that easy.</p>
        </div>
        <div class="span4">
          <h2>Schedule</h2>
          <p>Iuvo is a great tool for getting your course schedule on the right track. Add semesters and assign courses to them.</p>
       </div>
        <div class="span4">
          <h2>Share</h2>
          <p>Sign in with Facebook using your Facebook account. Broadcast your schedule to your Twitter followers. Backup your degree plan using Dropbox integration.</p>
        </div>
      </div>
	  
	  <hr />
</div>
{% endblock content %}