{% extends "base.html" %}

{% block navDegreePlanSelected %}
 class="active"
{% endblock %}

{% block content %}
<div class="container">

	<!-- Example row of columns -->
	<div class="row">
		<div class="span6">
			<h1>My Degree Plan</h1>
			<p>{{ degreePlan.name }}</p>
		</div>
		<div class="span6Right">
			<h3>{{ userAccount.firstName }} {{ userAccount.lastName }}</h3>
			<p>{{ userAccount.school }} </p>
		</div>
	</div>
	
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<div class="equal row-fluid">
			{% load my_filters %}
			{% for i in 3|times %}
			<div class="span4">
				{% for cg in degreePlan.coursegroup_set.all %}
					{% if cg.columnNumber == i %}
						<h4>{{ cg.name }}</h4>
						{% for cc in cg.courseslot_set.all %}
						{% if not cc.isDepartmentEditable and not cc.isNumberEditable %}
							<p><button class="btn btn-course" type="submit">{{ cc.department }} {{ cc.number }} ({{cc.hours}})</button></p>
						{% else %}
							<p><div class="btn-group">
								<button class="btn btn-course-dropdown-left">{{ cc }}</button>
								<button class="btn btn-course-dropdown-right btn-info dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									{% if cc.isDepartmentEditable and cc.isNumberEditable %}
										<li><a href="#">Edit Department and Number</a></li>
									{% else %}
										{% if cc.isDepartmentEditable %}<li><a href="#">Edit Department</a></li>{% endif %}
										{% if cc.isNumberEditable %}<li><a href="#">Edit Number</a></li>{% endif %}
									{% endif %}
								</ul>
							</div></p>
						{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}