{% extends "base.html" %}

{% block navBarButtons %}
{% endblock navBarButtons %}

{% block content %}
<div class="loginContainer">
	<div class="hero-unit">
		<form class="form-signin">
			<h2 align="center">Welcome.</h2>
			<input type="text" class="input-block-level" placeholder="Email address">
			<input type="password" class="input-block-level" placeholder="Password">
			<label class="checkbox"><input type="checkbox" value="remember-me"> Remember me</label>
			<button class="btn" type="submit">Sign in</button>
		</form>
	</div> <!-- /hero-unit -->
</div>
{% endblock content %}