<div>
 	<h1>{{ userAccount.firstName }} {{ userAccount.lastName }}'s Account</h1>
 	<ul>
 		<li>First Name: {{ userAccount.firstName }}</li>
 		<li>Last Name: {{ userAccount.lastName }}</li>
 		<li>Username: {{ userAccount.username }}</li>
 		<li>School: {{ userAccount.school }}</li>
 		<li>Degree Plan: 
			{% if userAccount.degreePlan%}
 				<a href="{% url 'degreePlan' dpID=userAccount.degreePlan.id %}">{{ userAccount.degreePlan.name }}</a></li>
			{% else %}
				No degree plan.
			{% endif %}
 	</ul>

 </div>